<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection :: GaMa.TW</title>
    <link rel="stylesheet" href="../Assets/Styles/gameCollection.css">
    <script src="https://kit.fontawesome.com/22961e3652.js" crossorigin="anonymous"></script>
    <meta name="Description" content="Check out all these awesome games!">
</head>
<body>

    <nav>
        <ul class="navMenu">
            <li class="title"> The Gamma Project</li>
            <li><a href="/">Home</a></li>
            <li><a href="/gameCollection">Game Collection</a></li>
            <li><a href="/tournaments">Tournaments</a></li>
        </ul>
    </nav>

    <nav class="navbar">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-gamepad"><g class="fa-color"></g></i>
              <span class="link-text">Main Categories</span>
            </a>
          </li>

      </ul>
    </nav>
  
    <script src="/Assets/Scripts/loadPageOptions.js"></script>
</body>
</html>