<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection :: GaMa.TW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Styles/gameCollection.css">
    <script src="https://kit.fontawesome.com/22961e3652.js" crossorigin="anonymous"></script>
    <meta name="Description" content="Check out all these awesome games!">
</head>
<body>

    <nav>
        <ul class="navMenu">
            <li class="title">The GaMa Project</li>
            <li><a class="navbarHoverBlock" href="/">Home</a></li>
            <li><a class="navbarHoverBlock" href="/gameCollection">Game Collection</a></li>
            <li><a class="navbarHoverBlock" href="/tournaments">Tournaments</a></li>
        </ul>
    </nav>

    <nav class="navbar">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-gamepad"><g class="fa-color"></g></i>
              <span class="link-text"><div class="nav-title">Categories</div></span>
            </a>
            <div class="link-text">
              <a class="nav-subitem">Digital</a>
              <ul>
                <li class="nav-subsubitem">Action</li>
                <li class="nav-subsubitem">Adventure</li>
                <li class="nav-subsubitem">Simulator</li>
                <li class="nav-subsubitem">Sports</li>
                <li class="nav-subsubitem">Platformer</li>
                <li class="nav-subsubitem">Racing</li>
              </ul>
            </div>
            <div class="link-text">
              <a class="nav-subitem2">Board</a>
              <ul>
                <li class="nav-subsubitem">Role-Play</li>
                <li class="nav-subsubitem">Strategy</li>
                <li class="nav-subsubitem">War</li>
                <li class="nav-subsubitem">Dynamic</li>
              </ul>
            </div>
          </li>
          <div class="nav-stats">
            <a class="nav-stats-title">Statistics:</a>
            <a class="nav-stats-item" href="#">.PDF</a>
            <a class="nav-stats-item" href="#">.CSV</a>
            <a class="nav-stats-item" href="#">Sheet</a>
          </div>
      </ul>
    </nav>
  <main>
      <div class="game-container">
        <div class="game-item"><p class="game-item-title">Name:</p>
          <% var index = 0; loadGames.forEach(function (item){ index = index + 1 %>
          <p>
            <%= index + '.' %>
            <%= '"' + item.name + '"' %> 
          </p>
          <% }); %>
        </div>
      </div>
  </main>
    <script src="/Assets/Scripts/loadPageOptions.js"></script>
    <script src="/Assets/Scripts/loadGameCollection.js"></script>
</body>
</html>