<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/Styles/gameCollection.css">
    <meta name="Description" content="Check out all these awesome games!">
</head>
<body>

    <nav>
        <ul class="navMenu">
            <div class="title">The Gamma Project</div>
            <li><a href="/">Home</a></li>
            <li><a href="/gameCollection">Game Collection</a></li>
            <li><a href="/tournaments">Tournaments</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="blended_grid">
        <div class="pageHeader"> Sort through our amazing collection!</div>
        <div class="pageLeftMenu">Categories</div>
        <div class="pageContent"> Items Shown: </div>
        <div class="pageFooter"> footer asupra caruia ne punem de acord </div>
    </div>
</body>
</html>