<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/Styles/login.css">
</head>
<body>

<nav>
    <ul class="navMenu">
        <div class="title">The Gamma Project</div>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="gameCollection.html">Game Collection</a></li>
        <li><a href="tournaments.html">Tournaments</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
</nav>
<main>
    <div class="formWrapper">
        <div class="formLogin">
            <form class="loginForm">
                <p class="pAllignText1">
                    <label class="formText" for="usernameLogin">Username
                    </label></p> <br>
                <p class="pAllignText2">
                    <input class="inputBox"
                           type="text"
                           id="usernameLogin"
                           name="username">
                </p> <br>
                <p class="pAllignText4">
                <label class="formText" for="passwordLogin">Password</label></p> <br>
                <p class="pAllignText3">
                    <input class="inputBox" type="password"
                           id="passwordLogin" name="password">
                </p>
                <br>
                <input type="submit"
                       class="submitButton" value="Log in"> <br>

                <input type="checkbox" class="checkboxButton"  id="checkboxLogin" name="checkboxLogin"
                       value="remember">
                <label for="checkboxLogin" class="checkboxLoginLabel"> Remember me? </label>
            </form>
            <!-- href=pagina de register -->
            <div class="register"><a href="register.html" class="registerButton"><b>You don't
                have an account yet?</b></a></div>
        </div>
    </div>
</main>
</body>
</html>