<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamma</title>
    <link rel="stylesheet" href="../Assets/register.css">
</head>
<body>

<nav>
    <ul class="navMenu">
        <div class="title">The Gamma Project</div>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="gameCollection.html">Game Collection</a></li>
        <li><a href="tournaments.html">Tournaments</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
</nav>
<main>
    <div class="formWrapper">
        <div class="formLogin">
            <form class="loginForm">
                <label class="formText" for="usernameRegister"><p style="text-align: center; margin-top: 5vh;">Choose an username</p>
                </label> <br>
                <p style="text-align: center; margin-top: -2.5vh; margin-bottom: 1vh">
                    <input class="inputBox"
                           type="text"
                           style="padding: 5px; width: 15vw;height: 3.2vh"
                           id="usernameRegister"
                           name="usernameRegister">
                </p> <br>

                <label class="formText" for="passwordRegister"><p style="text-align: center ">Choose a password</p></label> <br>
                <p style="text-align: center;margin-top: -2.5vh">
                    <input class="inputBox" type="password" style="padding: 5px; width: 15vw; height: 3.2vh" id="passwordRegister" name="passwordRegister">
                </p>
                <br>
                <label class="formText" for="passwordRegister"><p style="text-align: center ">Confirm your password</p></label> <br>
                <p style="text-align: center;margin-top: -2.5vh">
                    <input class="inputBox" type="password" style="padding: 5px; width: 15vw; height: 3.2vh" id="passwordConfirmRegister" name="passwordConfirmRegister">
                </p><br>

                <input type="submit"
                       style="margin-left: 12vw; width: 8vw;border-radius: 7px;border: 2px solid #2e3346; height: 3.5vh"
                       value="Register"> <br>

            </form>
            <!-- href=pagina de register -->
            <div class="login"><a href="login.html" style="text-decoration: none; color: aliceblue"><b>You already have an account?</b></a></div>
        </div>
    </div>
</main>
</body>
</html>