<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamma</title>
    <script src="../Assets/Scripts/register.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/register.css">
</head>
<body>

<nav>
    <ul class="navMenu">
        <div class="title">The Gamma Project</div>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="gameCollection.html">Game Collection</a></li>
        <li><a href="tournaments.html">Tournaments</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
</nav>
<main>
    <div class="formWrapper">
        <div class="formLogin">
            <form class="loginForm" method="post">
                <p class="pInputBox1">
                    <label class="formText" for="usernameRegister">Choose an username
                    </label></p><br>
                <p class="pInputBox2">
                    <input class="inputBox"
                           type="text"
                           id="usernameRegister"
                           name="usernameRegister">
                </p> <br>
                <p class="pAllignText">
                    <label class="formText" for="passwordRegister">Choose a password
                    </label></p><br>
                <p class="pAllignText1">
                    <input class="inputBox" type="password"
                           id="passwordRegister" name="passwordRegister">
                </p>
                <br>
                <p class="passwordLabel">
                    <label class="formText" for="passwordRegister">Confirm your password</label></p>  <br>
                <p class="pAllignText1">
                    <input class="inputBox" type="password"
                           id="passwordConfirmRegister" name="passwordConfirmRegister">
                </p><br>

                <input type="submit" class="submitButton"
                       value="Register" onclick="InsertUser()"> <br>
            </form>

            <div class="login"><a href="login.html" class="already"><b>You already have
                an account?</b></a></div>
        </div>
    </div>
</main>
</body>
</html>