<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register :: GaMa.TW</title>

    <link rel="stylesheet" href="../Assets/Styles/register.css">
</head>
<body>

<nav>
    <ul class="navMenu">
        <li class="title">The GaMa Project</li>
        <li><a class="navbarHoverBlock" href="/">Home</a></li>
        <li><a class="navbarHoverBlock" href="/gameCollection">Game Collection</a></li>
        <li><a class="navbarHoverBlock" href="/tournaments">Tournaments</a></li>

    </ul>
</nav>
<main>
    <div class="formWrapper">
        <div class="formLogin">
            <form class="registerForm">
                <p class="pInputBox1">
                <label class="formText" for="usernameRegister">Choose an
                    username
                </label> </p><br>
                <p class="pInputBox2">
                    <input class="inputBox"
                           type="text"
                           id="usernameRegister"
                           name="usernameRegister">
                </p> <br>
                <p class="pAllignText">
                <label class="formText" for="passwordRegister">Choose a password
                </label> </p><br>
                <p class="pAllignText1">
                    <input class="inputBox" type="password"
                           id="passwordRegister" name="passwordRegister">
                </p>
                <br>
                <p class="passwordLabel">
                    <label class="formText" for="passwordRegister">Confirm your password</label></p>  <br>
                <p class="pAllignText1">
                    <input class="inputBox" type="password"
                           id="passwordConfirmRegister" name="passwordConfirmRegister">
                </p><br>

                <input type="submit" class="submitButton"
                       value="Register"> <br>

                <p class="errorText" id="errorHTML">  </p>
            </form>
            <div class="login"><a href="/login" class="already"><b>You already have
                an account?</b></a></div>
        </div>
    </div>
    <script src="/Assets/Scripts/loadPageOptions.js"></script>
    <script src="./Assets/Scripts/register.js"></script>
</main>
</body>
</html>