<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/tournaments.css">
    <meta name="Description" content="Compete with other players!">
</head>
<body>

    <nav>
        <ul class="navMenu">
            <div class="title">The Gamma Project</div>
            <li><a href="homePage.html">Home</a></li>
            <li><a href="gameCollection.html">Game Collection</a></li>
            <li><a href="tournaments.html">Tournaments</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>

    <div class="myblock">
        <div class="pageHeader"> THIS IS A PAGE IN PROGRESS</div>
    </div>
</body>
</html>