<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/Styles/tournaments.css">
    <meta name="Description" content="Compete with other players!">
</head>
<body>

<nav>
    <ul class="navMenu">
        <li class="title">The GaMa Project</li>
        <li><a class="navbarHoverBlock" href="/">Home</a></li>
        <li><a class="navbarHoverBlock" href="/gameCollection">Game Collection</a></li>
        <li><a class="navbarHoverBlock" href="/tournaments">Tournaments</a></li>
    </ul>
</nav>
<main>
    <div class="grid-container" id="mainContainer">
        <div class="buttons" id="buttonDiv">
            <button id="Join" onclick="getTournamentPage(1,10)">Join</button>
            <button id="Host" onclick="loadHostForm()">Host</button>
        </div>
    </div>
</main>
<script src="/Assets/Scripts/loadPageOptions.js"></script>
<script src="/Assets/Scripts/loadTournaments.js"></script>
</body>
</html>