<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/Styles/tournaments.css">
    <meta name="Description" content="Compete with other players!">
</head>
<body>

<nav>
    <ul class="navMenu">
        <li class="title"> The Gamma Project</li>
        <li><a href="/">Home</a></li>
        <li><a href="/gameCollection">Game Collection</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
    </ul>
</nav>

<div class="myblock">
    <div class="pageHeader"> THIS IS A PAGE IN PROGRESS</div>
</div>
<script src="/Assets/Scripts/loadPageOptions.js"></script>
</body>
</html>