<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournaments :: GaMa.tw</title>
    <link rel="stylesheet" href="../Assets/Styles/tournaments.css">
    <meta name="Description" content="Compete with other players!">
</head>
<body>

<nav>
    <ul class="navMenu">
        <li class="title"> The Gamma Project</li>
        <li><a class="navbarHoverBlock" href="/">Home</a></li>
        <li><a class="navbarHoverBlock" href="/gameCollection">Game Collection</a></li>
        <li><a class="navbarHoverBlock" href="/tournaments">Tournaments</a></li>
    </ul>
</nav>
<main>
    <div class="grid-container">
        <div class="buttons">
            <button id="Join">Join Tournament</button>
            <button id="Host">Host Tournament</button>
        </div>
        <div class="tournament-list">
            <ol class="column-names">
                <li class="column-names-li">Tournament Name</li>
                <li class="column-names-li">Game</li>
                <li class="column-names-li">Nr. of players</li>
            </ol>
            <ol class="displayed-tournaments">
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li><li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
                <li class="tournament-item">
                    <span class="tournament-title">Mare turneu</span>
                    <span class="tournament-game">League of Legends</span>
                    <span class="tournament-players">3/8</span>
                    <button class="join-button">JOIN</button>
                </li>
            </ol>
            <div class="page-nav">
                <label>Page:</label>
                <button>Prev</button>
                <label> 1 </label>
                <button>Next</button>
            </div>
        </div>
    </div>
</main>
<script src="/Assets/Scripts/loadPageOptions.js"></script>
</body>
</html>