.navMenu {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    font-family: Impact, "Arial Narrow", "Optima", "Geneva";
    background-color: #333;
    z-index: 1;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --transition-duration: 600ms;
    --text-primary: #b6b6b6;
    --text-secondary: rgb(221, 221, 138);
    --bg-primary: #333;
    --bg-secondary: #333;
}

body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: lightgray;
}


.navMenu li {
    display: inline;
    float: left;
    position: relative;
    left: 30%;
    width: auto;
}

.title {
    color: aliceblue;
    display: inline;
    padding: 20px 25px 20px 25px;
    margin-left: -30vw;
    margin-right: 30vw;
    float: left;
    text-decoration: none;
}

.navMenu a {
    color: aliceblue;
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
}

.navMenu a:hover {
    color: darkblue;
    background-color: lightgrey;
}

main {
    position: relative;
    top: 75px;
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color:  var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
}

.navbar::-webkit-scrollbar{
  width: 0rem;
}

.navbar::-webkit-scrollbar-track{
  color: blue;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
    position:relative;
    display:inline-block;
    margin-left: 3rem;
    font-size: 16px;
    font-family: Impact;
    margin-top: 6rem;
}

.nav-subitem {
  width: 100%;
  position:relative;
  display:inline-block;
  margin-left: 3.5rem;
  font-size: 16px;
  font-family: Impact;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-duration);
  margin-top: 0.2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-duration);
}

#drop-content a{
  display:block;
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-subitem:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}


.navbarHoverBlock {
    color: aliceblue;
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
}

.navbarHoverBlock:hover {
    color: darkblue;
    background-color: lightgrey;
}

.navbarNoHover {
    color: rgb(159, 159, 194);
    display: block;
    padding: 20px 25px 20px 25px;
    font-style: italic;
    text-decoration: none;
}


  /* Ecrane mici */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  /* Ecrane mari */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }

  }
  
