.navMenu {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    font-family: Impact, "Arial Narrow", "Optima", "Geneva";
    background-color: #333;
    z-index: 1;
}

body {
    margin: 0;
}

.navMenu li {
    display: inline;
    float: left;
    position: relative;
    left: 30%;
    width: auto;
}

.title {
    color: aliceblue;
    display: inline;
    padding: 20px 25px 20px 25px;
    margin-left: -30vw;
    margin-right: 30vw;
    float: left;
    text-decoration: none;
}

.navMenu a {
    color: aliceblue;
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
}

.navMenu a:hover {
    color: darkblue;
    background-color: lightgrey;
}

main {
    position: relative;
    top: 75px;
}

.myblock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 75px;
}

.pageHeader {
    grid-column: 1/6;
    grid-row: 1/6;
    background-color: lightslategrey;
    border: 2px solid #2e3346;
    border-radius: 7px;
    text-align: center;
    font-size: 150px;
}

.navbarHoverBlock {
    color: aliceblue;
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
}

.navbarHoverBlock:hover {
    color: darkblue;
    background-color: lightgrey;
}

.navbarNoHover {
    color: aliceblue;
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
}